{% extends 'base.html' %}
{% block title %} Recipes searcher {% endblock %}
{% block body %}
<h2 style="text-align: center"> <a href="/" style="text-decoration: none; color:red"> Recipes for you: </a></h2>
<div style="margin-left:35%;">
  <ul class="list-unstyled">
      {% for recipe in recipes %}
          <li class="media">
              <img src="{{recipe['image']}}" class="align-self-center mr-3" alt="..." width="15%" height="15%">
              <div class="media-body">
                  <h5 class="mt-0 mb-1"><a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                    How many minutes for preparation? {{recipe['preparationMinutes']}} <br>
                    How many minutes for cooking? {{recipe['cookingMinutes']}}  <br>
                    How many likes has this recipe? {{recipe['aggregateLikes']}}  <br>
              </div>
          </li> <br>
      {% endfor %}
  </ul>
</div >
{% endblock %}