body {
    font-family: sans-serif;
    margin: 0px;
}

.body {
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 600px) {
    .body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 600px) {
    .bottom-margin-mobile {
        margin-bottom: 15px;
    }
}

.on-one-line {
    white-space: nowrap;
}

.body-with-top-margin {
    margin-top: 50px;
}

.content {
    line-height: 1.5;
    font-size: 1.3em;
}

p span {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-style: italic;
    font-weight: bolder;
}


.center {
  margin: auto;
  text-align: center;
}

.center-text {
    text-align: center;
}

.center-heading {
    text-align: center;
}


.max300 {
    max-height: 300px;
    width: auto;
}

.title {
    color: rgb(165, 230, 255);
    font-size: 400%;
}

.subtitle{
    color: rgb(165, 230, 255);
}

div.header{
    padding: 40px;
    background: url('../images/home-header.jpg') rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}

img.in-title {
    position: relative;
    bottom: -2px;
}

p.image-label {
    position: absolute;
    vertical-align: bottom;
    right: 0;
    color: rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, 0.4);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-radius: 5px 0 0 0;
}

a {
    color: black;
}

a:hover {
    color: rgb(100, 100, 100);
}

a.button {
    color: white;
    text-decoration: none;
}

a.image-label {
    color: rgb(50, 50, 50);
    font-weight: bold;
    text-decoration: none;
}

a.image-label:hover {
    color: rgb(70, 70, 70);
}


.error {
    color: rgb(220, 20, 60)
}

span.main-header {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


.main-nav {
    margin-left: 100px;
    transition: 1s;
}

.main-nav-coach {
    margin-left: 100px;
    transition: 1s;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.icon {
    display: none;
    transition: .5s;
}

/* taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp, slightly modified
When the screen is less than 875 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media (max-width: 1260px) {
    .main-nav {
        margin-left: 20px;
    }
    .main-nav button:not(:first-child){display: none;}
    .main-nav .icon {
        float: right;
        display: block;
        position: relative;
        top: 15px;
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .main-nav-coach {
        margin-left: 20px;
    }
    .main-nav-coach button:not(:first-child){display: none;}
    .main-nav-coach .icon {
        float: right;
        display: block;
        position: relative;
        top: 15px;
        margin-right: 20px;
    }
}

/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens (display the links vertically instead of horizontally) */
@media (max-width: 1260px) {
    .main-nav.responsive {
        position: relative;
        transition: 1s;
    }
    .main-nav.responsive .icon {
        float: right;
        display: block;
        position: absolute;
        top: 15px;
        right: 117.3px;
        color: rgb(220, 20, 60);
    }
    .main-nav.responsive .icon:hover {
        color: rgb(190, 0, 50);
    }
    .main-nav.responsive button {
        float: none;
        display: block;
        text-align: left;
    }
}


@media (max-width: 600px) {
    .main-nav-coach.responsive {
        position: relative;
        transition: 1s;
    }
    .main-nav-coach.responsive .icon {
        float: right;
        display: block;
        position: absolute;
        top: 15px;
        right: 24.8px;
        color: rgb(220, 20, 60);
    }
    .main-nav-coach.responsive .icon:hover {
        color: rgb(190, 0, 50);
    }
    .main-nav-coach.responsive button {
        float: none;
        display: block;
        text-align: left;
    }
}
/* end of "taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp" */

.user-box {
    background-color: #C0C0C0;
    border-color: #A0A0A0;
    padding: 10px;
    position: relative;
    top: -10px;
    border-radius: 0.25rem;
}

.right {
    float:right;
    margin-right: 20px;
}

.more {
    display: none;
}

.more-shown {
    display: inline;
}

tr:nth-child(even) {
    background-color: rgba(165, 230, 255, 0.2);
}

th, td {
    border: 1px solid;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

tr.macros {
    background-color: rgba(165, 230, 255, 0.2);
}

td.meal-type {
    text-align: left;
    font-size: 15px;
}

table.left {
    margin-left: 0;
}

/*
Taken from Bootstrap (slight changes)
**/

.btn {
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    transform: scale(1.1);
}


/*
End of "taken from Bootstrap"
**/

.btn-user-id {
    color: black;
    background-color: rgba(165, 230, 255, 0.5);
    border-color: rgba(165, 230, 255, 0.7);
    margin-right: 1px;
    position: relative;
    top: -2px;
}

.btn-logout {
    color: #fff;
    background-color: #A0A0A0;
    border-color: #909090;
    margin-left: 1px;
    margin-right: 0px;
    position: relative;
    top: -2px;
}

.btn-logout:hover {
    color: #fff;
    background-color: #909090;
    border-color: #808080;
    transform: scale(1.1);
}

.bottom-button {
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.content-sep {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

i.rating {
    color: #ffc700;
}


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* end of "modified from: https://github.com/mukulkant/Star-rating-using-pure-css" */
