{% extends 'base_with_nav_coach.html' %}
{% block head %}
<title> Client overview - Recipe Recommender </title>
{% endblock %}
{% block body %}
<div class="header">
<h1 class="title">
<img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
Recipe Recommender
</h1>
<h2 class="subtitle"> An overview of all your clients </h2>
<p class="image-label"> Photo credit:
<a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
Unsplash
</a>
</p>
</div>
<h1 class="body body-with-top-margin">
<span class="main-header">
Here are your clients:
</span>
</h1>
<ul class="body content">
{% for user_id in users %}
{% if not names[loop.index-1] %}
<li><a href="/?user_id={{user_id}}"> id: {{user_id}} </a></li>
{% else %}
<li><a href="/?user_id={{user_id}}"> id: {{user_id}} | name: {{names[loop.index-1]}} </a></li>
{% endif %}
{% endfor %}
</ul>
<h1 class="body body-with-top-margin">
<span class="main-header">
Manage your clients:
</span>
</h1>
<div class="body bottom-button">
<button class="btn btn-primary">
<a class="button" href="/add_client"> Add new client </a>
</button>
<button class="btn btn-primary">
<a class="button" href="/remove_client"> Remove client </a>
</button>
</div>
{% endblock %}