{% extends 'base.html' %}
{% block head %}
<title> User created - Recipe Recommender </title>
{% endblock %}
{% block body %}
<div class="header">
<h1 class="title">
<img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
User created - Recipe Recommender
</h1>
<h2 class="subtitle"> New user account created </h2>
<p class="image-label"> Photo credit:
<a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
Unsplash
</a>
</p>
</div>
<h1 class="center-heading">
<span class="main-header"> You have successfully created a new user account </span>
</h1>
<p class="body content center">
Your user-id is {{user_id}}.
This is required together with your password to log in to your account.
<br><br>
Welcome to the Recipe Recommender! We hope you enjoy using it.
<br>
Go ahead and rate some recipes, so we can get to know your taste and then find recommendations for you.
<hr class="content-sep">
<span class="center">
<h2 class="body body-with-top-margin"> A quick introduction: </h2>
</span>
<p class="body content center">
To get started, you need to rate at least 10 recipes.
<br>
Before that, recommending recipes would not make much sense, because
we don't have enough information to recommend recipes matching your taste.
</p>
<ul class="body content">
<li>
When you click the "Recommendations & ratings" button, you get 3 recipe recommendations matching your taste from each of
the two algorithms we use.
</li>
<li>
When you click the "Enter requirements" button, you can enter calories, macronutrients and mealtype you are looking for.
Furthermore, you can enter a range, meaning how many percent the actual nutrient values are allowed to differ from the ones you entered.
</li>
<li>
When you click the "Matching recommendations" button, you get 3 recipe recommendations from each algorithm again, but this time
not only matching your taste, but also the requirements you entered.
</li>
<li>
When you click the "Get a random recipe" button, you get a random recipe that you can try out, if you just want to explore recipes
or rate more recipes.
</li>
</ul>
</p>
<hr class="content-sep">
<div class="center">
<button class="btn btn-primary bottom-button">
<a class="button" href="/login"> Login now </a>
</button>
</div>
{% endblock %}