{% extends 'base.html' %}

{% block head %}
    <title> Create user - Recipe Recommender </title>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title">
            <img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
            Create user - Recipe Recommender
        </h1>
        <h2 class="subtitle"> Create a new user account </h2>
        <p class="image-label"> Photo credit:
            <a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
                Unsplash
            </a>
        </p>
    </div>

    <h2 class="center-heading">
        <span class="main-header"> Your user-id will be shown on the next page </span>
    </h2>

    <div class="center">
        <form class="body content" action="/create_user" method="POST">
            <label for="set_new_pw_first"> Set your password: </label><br>
            <input type="password" name="set_new_pw_first" id="set_new_pw_first"><br>
            <label for="set_new_pw_second"> Repeat your password: </label><br>
            <input type="password" name="set_new_pw_second" id="set_new_pw_second"><br>
            <input type="submit" value="submit">
        </form>
    </div>

    <hr class="content-sep">

    <div class="center">
        <button class="btn btn-primary">
            <a class="button" href="/create_coach"> Create a coach account instead </a>
        </button>
    </div>

    <div class="center">
        <button class="btn btn-primary bottom-button">
            <a class="button" href="/login"> Login with an existing account </a>
        </button>
    </div>


{% endblock %}