{% extends 'base_with_nav.html' %}

{% block head %}
    <title> Enter requirements - Recipe Recommender </title>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title">
            <img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
            Recipe Recommender
        </h1>
        <h2 class="subtitle"> Enter the requirements (macros and meal-type) you want your recommended recipes to have here! </h2>
        <p class="image-label"> Photo credit:
            <a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
                Unsplash
            </a>
        </p>
    </div>


    <p class="body content"> Enter 0 or nothing in a field, if you want to leave this macronutrient open. </p>
    <form class="body content" action="/enter_reqs" method="POST">
        <table class="body content left">
            <tr class="macros">
                <td>
                    <label for="set_proteins"> Grams of proteins: </label>
                </td>
                <td>
                    <input type="text" name="set_proteins" id="set_proteins"><br>
                </td>
            </tr>
            <tr class="macros">
                <td>
                    <label for="set_carbs"> Grams of carbs: </label>
                </td>
                <td>
                    <input type="text" name="set_carbs" id="set_carbs"><br>
                </td>
            </tr>
            <tr class="macros">
                <td>
                    <label for="set_fats"> Grams of fats: </label>
                </td>
                <td>
                    <input type="text" name="set_fats" id="set_fats"><br>
                </td>
            </tr>
            <tr class="macros">
                <td>
                    <label for="set_range"> Allowed range: </label>
                </td>
                <td>
                    <input type="text" name="set_range" id="set_range" value="0.2"><br>
                </td>
            </tr>
        </table>
        <input class="bottom-margin-mobile" type="submit" value="submit">
    </form>


{% endblock %}