{% extends 'base.html' %}
{% block head %}
<title> Recipe Recommender </title>
{% endblock %}
{% block body %}
<div class="header">
<h1 class="title">
<img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
Recipe Recommender
</h1>
<h2 class="subtitle"> Get recipes suitable for your taste as well as your required macronutrients </h2>
<p class="image-label"> Photo credit:
<a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
Unsplash
</a>
</p>
</div>
<h2 class="body body-with-top-margin"> Header </h2>
<p class="body content">
Descriptive text here
<br><br><button class="btn btn-primary">
<a class="button" href="/get_initial_ratings_rate"> Start ratings recipes </a>
</button>
</p>
<br><br>
<hr class="content-sep">
<p class="body content"> <small><small>
Our website uses a script (cookies) that can read, store and write information in your browser and on your device. The information processed by this script includes data that relates to you and may include personal identifiers (e.g., IP address and session details) and your browsing activity. We use this information only for login purposes and use only technically necessary cookies.<br>
Responsible person: Per Starke, <a href="mxaxixlxtxox:xpxexrx@xsxtxaxrxkxex-xtxexaxmx.xdxex"onmouseover="this.href=this.href.replace(/x/g,'');">per@starke-team.de<a>.
</small></small></p>
{% endblock %}