{% extends 'base_with_nav.html' %}
{% block head %}
<title> Recipe Recommender </title>
{% endblock %}
{% block body %}
<div class="header">
<h1 class="title">
<img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
Recipe Recommender
</h1>
<h2 class="subtitle"> Get recipes suitable for your taste as well as your required macronutrients </h2>
<p class="image-label"> Photo credit:
<a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
Unsplash
</a>
</p>
</div>
<h2 class="body body-with-top-margin"> Find the perfect recipes for you</h2>
<p class="body content">
This recipe recommender gets to know your taste by analyzing ratings you provide
for recipes you already know, and with each new recipe you try and rate, you'll get even better recommendations.
<br>
<span> But that's not all there is!</span>
<br>
You can also provide macronutrient goals for a meal, and we'll recommend something that suits both
taste and macronutrients.
</p>
{% if coaching_requests != [] %}
<hr class="content-sep">
<h1 class="center-heading">
<span class="main-header"> Requests: </span>
</h1>
<ul class="body content">
{% for coach_id in coaching_requests %}
{% if not names[loop.index-1] %}
<li> The coach with the coach-id {{coach_id}} sent you a coaching-request. </li>
<ul>
<li><a href="/confirm_request?coach_id={{coach_id}}"> confirm this request </a></li>
<li><a href="/decline_request?coach_id={{coach_id}}"> decline this request </a></li>
</ul>
{% else %}
<li> Coach {{names[loop.index-1]}} (Coach-id: {{coach_id}}) sent you a coaching-request. </li>
<ul>
<li><a href="/confirm_request?coach_id={{coach_id}}"> confirm this request </a></li>
<li><a href="/decline_request?coach_id={{coach_id}}"> decline this request </a></li>
</ul>
{% endif %}
{% endfor %}
</ul>
{% endif %}
<br><br>
<hr class="content-sep">
<p class="body content"> <small><small>
Our website uses a script (cookies) that can read, store and write information in your browser and on your device. The information processed by this script includes data that relates to you and may include personal identifiers (e.g., IP address and session details) and your browsing activity. We use this information only for login purposes and use only technically necessary cookies.<br>
Responsible person: Per Starke, <a href="mxaxixlxtxox:xpxexrx@xsxtxaxrxkxex-xtxexaxmx.xdxex"onmouseover="this.href=this.href.replace(/x/g,'');">per@starke-team.de<a>.
</small></small></p>
{% endblock %}