{% extends 'base.html' %}

{% block user %}

<hr class="content-sep">

    <h2 class="body body-with-top-margin"> Your user-id:</h2>
    <p class="body content"> {{user_id}} </p>

    <p class="body content">
        <button class="btn btn-logout">
            <a class="button" href="/logout"> Logout </a>
        </button>
    </p>

{% endblock %}

{% block nav %}

    <p class="body content">
        <button class="btn btn-primary">
            <a class="button" href="/"> Home </a>
        </button>

        <button class="btn btn-primary">
            <a class="button" href="/get_rec"> Get recommendations </a>
        </button>

        <button class="btn btn-primary">
            <a class="button" href="/enter_macros"> Enter macros </a>
        </button>

        <button class="btn btn-primary">
            <a class="button" href="/rate"> Rate recipes </a>
        </button>

    </p>

{% endblock %}