{% extends 'base.html' %}

{% block head %}
    <title> Enter macros - Recipe Recommender </title>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title">
            <img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
            Recipe Recommender
        </h1>
        <h2 class="subtitle"> Enter the macronutrients you want your recommended recipes to have here! </h2>
        <p class="image-label"> Photo credit:
            <a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
                Unsplash
            </a>
        </p>
    </div>


    <div class="center">
        <form class="body content body-with-top-margin" action="/enter_macros" method="POST">
            <table class="body content center">
                <tr class="macros">
                    <td>
                        <label for="set_proteins"> Grams of proteins: </label>
                    </td>
                    <td>
                        <input type="text" name="set_proteins" id="set_proteins"><br>
                    </td>
                </tr>
                <tr class="macros">
                    <td>
                        <label for="set_carbs"> Grams of carbs: </label>
                    </td>
                    <td>
                        <input type="text" name="set_carbs" id="set_carbs"><br>
                    </td>
                </tr>
                <tr class="macros">
                    <td>
                        <label for="set_fats"> Grams of fats: </label>
                    </td>
                    <td>
                        <input type="text" name="set_fats" id="set_fats"><br>
                    </td>
                </tr>
            </table>
            <input type="submit" value="submit">
        </form>
    </div>


{% endblock %}