{% extends 'base.html' %}

{% block head %}
    <title> Get Recommendations - Recipe Recommender </title>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title">
            <img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
            Recipe Recommender
        </h1>
        <h2 class="subtitle"> Get your recommendations here! </h2>
        <p class="image-label"> Photo credit:
            <a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
                Unsplash
            </a>
        </p>
    </div>

        <h1 class="body"> Here are your recommended recipes</h1>
        {% for algo_name, dict_item in recipes_and_ratings.items() %}
            <h2 class="body"> Using a {{algo_name}} algorithm:</h2>
            <p class="body content">
                {% for recipe_title, rating in dict_item.items() %}
                    {{recipe_title}}: {{rating}}
                    <br>
                {% endfor %}
            </p>
        {% endfor %}

    <hr class="button-sep">

    <p class="body content">
        <button class="btn btn-primary">
            <a class="button" rel="noopener noreferrer nofollow" target="_blank" href="/"> Home </a>
        </button>

        <button class="btn btn-primary">
            <a class="button" rel="noopener noreferrer nofollow" target="_blank" href="/rate"> Rate recipes </a>
        </button>
    </p>



{% endblock %}