{% extends 'base_with_nav.html' %}

{% block head %}
    <title> Get Recommendations - Recipe Recommender </title>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title">
            <img class="in-title" src="{{url_for('static', filename='/images/vegan-icon.png')}}" width="50px" />
            Recipe Recommender
        </h1>
        <h2 class="subtitle"> Get your recommendations, matching your required macronutrients, here! </h2>
        <p class="image-label"> Photo credit:
            <a class="image-label" rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s">
                Unsplash
            </a>
        </p>
    </div>

    <h2 class="body body-with-top-margin"> Your required macronutrients: </h2>
    <p class="body content">
      Proteins: {{proteins}}g <br>
      Carbs: {{carbs}}g <br>
      Fats: {{fats}}g <br>
    </p>


    <hr class="content-sep">


    <h1 class="body body-with-top-margin">
        <span class="main-header">
            Here are your recommended recipes, matching your required macronutrients within a {{range_percent}}% range:
        </span>
    </h1>

    <h2 class="body body-with-top-margin"> Using the content-based algorithm:</h2>
    <ol class="body content">
        {% for recipe_id, title in cb_recs.items() %}
            <li><a rel="noopener noreferrer nofollow" target="_blank" href="/recipe?id={{recipe_id}}"> {{title}} </a></li>
        {% endfor %}
    </ol>
    {% if cb_recs.values()|length < 3%}
        <p class="body content">Sadly, no more matching recommenations found</p>
    {% elif cb_recs.values()|length == 0 %}
        <p class="body content">Sadly, no matching recommendations found. Please try again with other nutrient values.</p>
    {% endif %}

    <h2 class="body body-with-top-margin"> Using the item-knn algorithm:</h2>
    <ol class="body content">
        {% for recipe_id, title in itemknn_recs.items() %}
            <li><a rel="noopener noreferrer nofollow" target="_blank" href="/recipe?id={{recipe_id}}"> {{title}} </a></li>
        {% endfor %}
    </ol>
    {% if itemknn_recs.values()|length < 3%}
        <p class="body content">Sadly, no more matching recommenations found</p>
    {% elif itemknn_recs.values()|length == 0 %}
        <p class="body content">Sadly, no matching recommendations found. Please try again with other nutrient values.</p>
    {% endif %}

{% endblock %}