{% extends 'base.html' %}

{% block head %}
    <title> Recipe Recommender - Home </title>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title"> Recipe Recommender </h1>
        <h2 class="subtitle"> Get recipes suitable for your taste as well as your required macronutrients </h2>
        <p class="image-label"> Image from
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://unsplash.com/de/fotos/2IxTgsgFi-s"> Unsplash </a>
        </p>
    </div>

    <h1 class="body"> Body header </h1>
    <p class="body content"> some body text which needs to be long to try out styling so let's just put random characters here
        aklasjdkfglaejsskdfjesiafj asdfjkldsajfioaesfjklasjeifasjlfeöio asief jasioöefr aise foiasfjeaiwofj
        asef asief jaeisojfi aewjf asioef asef iaoesjfaiisejfa sefi aeif iasejf asei fojias eia fieosa
        fioeasj faosief aesijf aisef asei faiesf sa aisof iaes ifias efias jefias ejfiaes fjieas fjeias
        fjieas fjisaef jesai fajeis feails fiasji fiaesifas </p>

    <p class="body content"> some body text which needs to be long to try out styling so let's just put random characters here
        aklasjdkfglaejsskdfjesiafj asdfjkldsajfioaesfjklasjeifasjlfeöio asief jasioöefr aise foiasfjeaiwofj
        asef asief jaeisojfi aewjf asioef asef iaoesjfaiisejfa sefi aeif iasejf asei fojias eia fieosa
        fioeasj faosief aesijf aisef asei faiesf sa aisof iaes ifias efias jefias ejfiaes fjieas fjeias
        fjieas fjisaef jesai fajeis feails fiasji fiaesifas </p>

{% endblock %}